// == Color
$backgroundTransparent: #11090dc0;

// == H2 Home
$fontWieghtH2Home: bold;
$colorH2Home: white;

$colorButton1: #40df3c;
$colorButton2: rgb(9, 33, 143);
$colorButtonRadio1: #265cdd;
$colorButtonRadio2: #f73489;

$colorLight: rgb(255, 255, 255);


$background1: #EAEFF2;
$background2: #533483;
$background3: #0F3460;
$background4: #E94560;
$background5: #16213E;
