// == Color
$backgroundTransparent: #11090dc0;

// == H2 Home
$fontWieghtH2Home: bold;
$colorH2Home: white;

$colorButton1: #40df3c;
$colorButton2: rgb(9, 33, 143);
$colorButtonRadio1: #265cdd;
$colorButtonRadio2: #f73489;
