@use "src/styles/vars";
@use "src/styles/mixins";

.form_register--wrapper {
  height: 38rem;
  width: 50%;
  background-color: vars.$backgroundTransparent;
  border-radius: 2rem;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 8px 28px rgb(33, 30, 33);
  margin: 5rem;

  h2 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 6rem 0 3rem 0;
  }

  .form_register--inputbox {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .button_next {
    font-size: 0.8rem !important;
  }

  .button_prev {
    font-size: 0.8rem !important;
    background: rgb(9, 33, 143)!important;
    margin-right: 2rem;

    &:hover {
      background: none!important;
      border: solid 3px rgb(9, 33, 143)!important;
    }
  }

  .button_submit {
    font-size: 0.8rem !important;
  }
}
