@use "src/styles/vars";
@use "src/styles/mixins";

.progress-bar {
  display: flex;
  margin: 2.5rem 0 1rem 0;
  user-select: none;
  .step:last-child {
    margin-right: 0;
    margin-left: 0.3rem;

    .bullet {
      &::after {
        display: none;
      }
    }
  }
  .step {
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 3rem;

    .check {
      position: absolute;
      left: 17%;
      top: 23%;
      font-size: 15px;
      transform: translate(-50%, -50%);
      display: block;
      color: rgb(19, 153, 60);

      span {
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 0.3s linear forwards;
      }
      @keyframes animate {
        100% {
          transform: scaleX(1);
        }
      }
    }

    .bullet_active {
      height: 40px;
      width: 40px;
      border: 2px solid #265cdd;
      display: flex;
      align-items: center;
      border-radius: 50%;
      position: relative;
      transition: 0.2s;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
      margin-top: 1rem;

      span {
        position: absolute;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        left: 9px;
      }

      &::after {
        position: absolute;
        content: "";
        bottom: 15px;
        right: -108px;
        height: 3px;
        width: 6.2rem;
        background: #265cdd;
      }
      &:first-child::after {
        width: 6.3rem;
      }
    }

    p {
      font-weight: 600;
      font-size: 1.2rem;
      color: vars.$colorH2Home;
      margin-bottom: 8px;
    }

    .bullet {
      height: 40px;
      width: 40px;
      border: 2px solid #265cdd;
      display: flex;
      align-items: center;
      border-radius: 50%;
      position: relative;
      transition: 0.2s;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
      margin-top: 1rem;

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #d43f8d;
        font-weight: bold;
      }

      &::after {
        position: absolute;
        content: "";
        bottom: 16px;
        right: -108px;
        height: 3px;
        width: 6.2rem;
        background: #265cdd;
      }
    }
  }
}
