@use "src/styles/vars";
@use "src/styles/mixins";

.home {
  min-height: 100vh;
  background: vars.$background1;
  display: flex;
  justify-content: space-around;
  position: relative;

  padding: 5rem 0 3rem 0;
}
